<nav>
    <div class="site-title">
    <a href="/"><h1>A fast and optimal solution</h1></a>
     <p>Here to give you an alternative solution in commuting.</p>
    </div>
    <ul>
    <li> <a href="/">Matwana 2023</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/blogs/create">Talk to Us</a></li>
  </ul>
 </nav>