<html lang="en">
  <%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>

<div class="about content">
 <h2>About Us</h2>
 <p>The Matwana project was built to aid with efficiency in reaching various destinations in our day to day lives.Passengers,drivers,touts everyone eats from the plate. </p>
 <p>Drive the streets of Nairobi, and you are sure to see many matatus—colorful minibuses that transport huge numbers of people around the city. Once ramshackle affairs held together with duct tape, matatus today are name-brand vehicles maxed out with aftermarket detailing. They can be stately black or extravagantly colored, sporting names, slogans, and airbrushed portraits of everyone from Kanye West to Barack Obama. In this richly interdisciplinary book, Kenda Mutongi explores the history of the matatu from the 1960s to the present.</p>
  <p>As Mutongi shows, matatus offer a window onto the socioeconomic and political conditions of late-twentieth-century Africa. In their diversity of idiosyncratic designs, they reflect divergent aspects of Kenyan life—from rapid urbanization and the transition to democracy to organized crime, entrepreneurship, social insecurity, and popular culture.
  Offering a shining model of interdisciplinary analysis, Mutongi mixes historical, ethnographic, literary, linguistic, and economic approaches to tell the story of the matatu and explore the entrepreneurial aesthetics of the postcolonial world.</p>
</div>

<%- include('./partials/footer.ejs') %>


</body>
</html>