<!DOCTYPE html>
<head>Sidebar</head>
<body>
<h1>
    <div class="sidebar">  
    <ul>
      <li><a href="#" class="logo">
        <img src="C:\Users\HP\OneDrive\Pictures\Saved Pictures\matwana logo.jpg" alt="">
        <span class="nav-item">Matwana</span>
      </a></li>
    <li><a href="#"><i class='bx bxs-dashboard'></i><span class="nav item">Dashboard</span></a></li>
    <li><a href="#"><i class='bx bxs-user'></i><span class="nav item">Profile</span></a></li>
    <li><a href="#"><i class='bx bxs-wallet'></i><span class="nav item">Geolocation</span></a></li>
    <li><a href="#"><i class='bx bx-bar-chart-alt'></i><span class="nav item">Where to?</span></a></li>
    <li><a href="#"><i class='bx bxs-cog'></i><span class="nav item">About Us</span></a></li>
    <li><a href="#"><i class='bx bxs-help'></i><span class="nav item">Need some help></span></a></li>
    <li><a href="#"><i class='bx bxs-dashboard'></i><span class="nav item">Log out</span></a></li>
    </ul>
    </div>
</h1>
</body>
</html>